body::before{
    display: block;
    content: '';
    height: 30px;
}
@font-face {
    font-family: myfontitalic;
    src: url(fonts/source-sans-pro.italic.ttf);
}
@font-face {
    font-family: myfontregular;
    src: url(fonts/source-sans-pro.regular.ttf);
}
@font-face {
    font-family: myfontsemibold;
    src: url(fonts/source-sans-pro.semibold.ttf);
}

.c-brand{
    color: blue;
    font-size: 2rem;
    font-family: myfontsemibold;
}
.c-skills-container{
    border-radius: 10px;
    height: 300px;
    background-color: #5f61d1;
}
.c-card-h2{
    font-size: 1.25rem;
    color: #7443FF;
}
.c-card-ul{
    text-decoration: none;
    list-style: none;
    text-align: center;
}
.c-line-height{
    line-height: 2rem;
}
.c-skill-row{
    margin-top: -200px;
}


.c-project-item-description{
    overflow: hidden;
}
/* .c-project-description {
    height: 350px;
}

@media(min-width:1399px){
    .c-project-description {
        height: 410px;
    }
} */

/* less than or equal to 990 pixels */
@media(max-width:991px){
    .c-project-item-description{
        display: block;
        margin: auto;
        margin-top: 25px;
        width: 94%;
    }
}